*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.btn:hover {
    background: #666;
  }
  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    
  }
  #styleTodo{
      padding:  7px 20px;
      margin: 10px;
      background-color:green;
  }
  #styleDelete{
    padding:  7px 20px;
    margin: 10px;
    background-color:brown;
  }
  div{
      padding: 20px;
  }
  input{
      background-color: white;
      padding: 7px;
      margin-right: 7px;
      
      
      
  }
  .title{
      color: black;
      size: 10px;
  }